main {
  background-color: pink;
  margin-left: 0px;
  padding: 0px;
}
body {
  background-color: rgb(247, 147, 164);
  margin: 0;
  padding: 0;
}

ul {
  color: black;
  margin: 0px;
  padding: 0px;
}
img {
  width: 100%;
}

p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 20px;
  padding: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  margin-top: 10px;
  padding-bottom: 0px;
}
class {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  margin-top: 10px;
  padding-bottom: 0px;
}
h2 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 1em;
  padding: 10px 16px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-radius: 4px;
  border-width: 20px;

  background-color: rgb(247, 147, 164);
}
h1 {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-style: EB Garamond;
  margin: 0em;
  padding: 10px 16px;
  margin-top: 10px;
  padding-bottom: 20px;
}
p {
  font-family: "franklin gothic medium", "arial narrow", arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
}
a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-evenly;
  font-size: larger;
}

.cta {
  color: rgb(0, 0, 0);
  background-color: pink;
  padding: 15px 10px;
  margin: 1em;
  display: inline-block;
  border-radius: 4px;
  border: double;
}
